[ ca ]
default_ca      = CA_default

[ CA_default ]
serial = 1
crl = ca-crl.pem
database = ca-database.txt
name_opt = none
cert_opt = none
default_crl_days = 9999
default_md = md5

[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
output_password        = password

[ req_distinguished_name ]
C                      = US
ST                     = NV
L                      = Las Vegas
O                      = Freedom Collective
OU                     = experimental
CN                     = ca
emailAddress           = noone@nowhere.net

[ req_attributes ]
challengePassword      = test
